name: IMAS Standard Name

on:
  issues:
    types: [opened, edited]

env:
  ISSUE_TITLE: "Standard Name Proposal"
  BASE_BRANCH: "develop"
  TOPIC_BRANCH: "submit"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ISSUE_URL: ${{ github.event.issue.html_url }}

jobs:
  imas-standard_name:
    if: contains(github.event.issue.labels.*.name, 'standard-name')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      
      - id: parse-issue
        uses: ./.github/actions/parse-issue
        with:
          template_path: ".github/ISSUE_TEMPLATE/standard-name.yml"

      - uses: actions/setup-python@v3
        with:
          python-version: "3.12"
      - name: Install imas-standard-names
        run: |
          python -m pip install --upgrade pip
          pip install .

      - id: process-issue
        uses: ./.github/actions/process-issue 
        with:
          standard-name: ${{ steps.parse-issue.outputs.standard-name }}
          ready-to-commit: ${{ steps.parse-issue.outputs.ready-to-commit }}

      - id: label-issue
        uses: ./.github/actions/label-issue
        with:
          standard-name: ${{ steps.parse-issue.outputs.standard-name }}
          duplicate-name: ${{ steps.process-issue.outputs.duplicate-name }}
          update-error: ${{ steps.process-issue.outputs.update-error }}

      - id: commit-issue
        if: steps.process-issue.outputs.valid-commit == 'true'
        uses: ./.github/actions/commit-issue
        with:
          standard-name: ${{ steps.parse-issue.outputs.standard-name }}
          standard-name-entry: ${{ steps.process-issue.outputs.standard-name-entry }}
          base-branch: ${{ env.BASE_BRANCH }}
          topic-branch: ${{ env.TOPIC_BRANCH }}
          issue-number: ${{ steps.parse-issue.outputs.issue-number}}

      - id: raise-pull-request
        if: steps.process-issue.outputs.valid-commit == 'true'
        uses: ./.github/actions/raise-pull-request
        with:
          base-branch: ${{ env.BASE_BRANCH }}
          topic-branch: ${{ env.TOPIC_BRANCH }}
